body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    overflow: auto;
}

header {
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    z-index: 1000;
}

footer {
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 10vh;
}

.login-container img {
    max-width: 100%;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

label,
input,
select,
button {
    display: block;
    margin-top: 10px;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #2800b8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.systemlab-menu {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

.systemlab-menu nav {
    background-color: #130058;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#cadastrar-pacientes {
    background-image: url('../img/cadpac.webp');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    margin: 20px 0;
}

#cadastrar-exames {
    background-image: url('../img/cadexam.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    margin: 20px 0;
}

#gerar-relatorio {
    background-image: url('../img/reports.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    margin: 20px 0;
}

#cadastrar-pacientes a,
#cadastrar-exames a,
#gerar-relatorio a {
    text-decoration: none;
    color: black;
}

#exames-list {

    text-align: center;
    list-style:none
    color: red;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.systemlab-menu section {
    padding: 20px;
    margin: 20px 0;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.systemlab-menu table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #130058;
    color: #fff;
}